// Height
$header-height: 60px;

// Containers
$container-padding: 0 130px;

// Colors
$white: #ffffff;
$header-color: #604d8f;
$background-color: #f8f8fa;
$border-color: #cecece;
$circle-stroke-color: #1ea2ff;

/* Panels */
$panel-background-white-color:  #FFFFFF;
$panel-background-gray-color:   #F3F3F3;

/* Text */
$text-black-color:              #000000;
$text-dark-color:               #424242;
$text-color:                    #515151;
$text-light-color:              #767676;
$text-white-color:              #FFFFFF;

// Panes
$pane-border-radius: 5px;
$pane-border-color: #c2c2c2;
$pane-padding: 10px;

/* Borders */
$border-color:                  #CECECE;
$border-light-color:            #E7E9EA;
$border-marketing:              #5028A1;

// Chart
$text-color: #4e4e4e;
$stroke-color: #cfcfcf;
@mixin stroke($width, $color: $stroke-color) {
  stroke: $color;
  stroke-width: $width;
}

body {
  background: $background-color;
  font-family: Proxima Nova;
}

// Layout
.container {
  padding: 0 10px;
  @media screen and (min-width: 768px) {
    padding: 0 60px;
  }
  @media screen and (min-width: 1024px) {
    padding: 0 130px;
  }
}

// Flex helpers

.u-flex {
  display: flex;
}

$flex-child-sizes: (1, 2, 3, 4, 5);
@each $size in $flex-child-sizes {
  .u-flex-#{$size} {
    flex: $size;
  }
}

$flex-directions: (
  row: row,
  col: column,
  row-rev: row-reverse,
  col-rev: column-reverse
);
@each $name, $value in $flex-directions {
  .u-flex-#{$name} {
    flex-direction: $value;
  }
}

$flex-positions: (
  end: flex-end,
  start: flex-start,
  around: space-around,
  between: space-between,
  center: center
);
@each $name, $value in $flex-positions {
  .u-justify-#{$name} {
    justify-content: $value;
  }
  .u-self-justify-#{$name} {
    justify-self: $value;
  }
  .u-align-#{$name} {
    align-items: $value;
  }
  .u-self-align-#{$name} {
    align-self: $value;
  }
}

// Header Component
.header {
  height: $header-height;
  background: $header-color;
}

// Layout Component
.layout {
  margin-top: 30px;
}
.pane {
  background: $white;
  border: 1px solid $pane-border-color;
  border-radius: $pane-border-radius;
  &-header {
    padding: 0;
    &--padded {
      padding: $pane-padding;
    }
  }
  &-body {
    padding: 0;
    &--padded {
      padding: $pane-padding;
    }
  }
  &-footer {
    padding: 0;
    &--padded {
      padding: $pane-padding;
    }
  }
  &--primary.pane__right {
    margin-left: 30px;
  }
  &--primary.pane__left {
    margin-right: 30px;
  }
}

// Area Chart
@mixin stroke($width, $color: darken($border-color, 0.5%)) {
  stroke: $color;
  stroke-width: $width;
}
.area-chart {
  .y-axis {
    .domain {
      stroke: transparent;
    }
    .tick {
      line {
        @include stroke(2);
      }
      &:first-of-type {
        line {
          @include stroke(1, lighten($text-light-color, 1%));
        }
      }
    }
  }
  .x-axis {
    .domain {
      @include stroke(2, lighten($text-light-color, 1%));
    }
    .tick {
      line {
        @include stroke(2, lighten($text-light-color, 1%));
      }
    }
  }
  text {
    fill: lighten($text-dark-color, 4.71);
    font-size: 13px;
  }
  .circle {
    fill: $circle-stroke-color;
    stroke: $circle-stroke-color;
    stroke-width: 3;
    &.current-week {
      fill: white;
    }
  }
}

// D3 popover
.profile-activity-popover {
  background: $panel-background-white-color;
  border-radius: 3px;
  position: fixed;
  width: 150px;
  z-index: 70;
  border: 1px solid $border-color;

  @media screen and (min-width: 768px) {
    width: 190px;
  }

  &__heading {
    text-align: center;
    padding: 0.5rem;
    border-bottom: 1px solid $border-light-color;
    font-size: 13px;
  }
  &__body {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    div {
      text-align: center;
    }
  }

  &[data-placement*="bottom"] {
    border-top-width: 3px;
  }
  &[data-placement*="top"] {
    border-bottom-width: 3px;
  }
  &[data-placement*="left"] {
    border-right-width: 3px;
  }
  &[data-placement*="right"] {
    border-left-width: 3px;
  }

  &__arrow {
    position: absolute;
    width: 3em;
    height: 3em;
    &[data-placement*="bottom"] {
      top: 0;
      left: 0;
      margin-top: -1em;
      width: 3em;
      height: 1em;
      &::before {
        border-width: 0 1.5em 1em 1.5em;
        border-color: transparent transparent $border-color transparent;
      }
      &::after {
        position: absolute;
        top: 3px;
        border-width: 0 1.5em 1em 1.5em;
        border-color: transparent transparent white transparent;
      }
    }
    &[data-placement*="top"] {
      bottom: 0;
      left: 0;
      margin-bottom: -1em;
      width: 3em;
      height: 1em;
      &::before {
        border-width: 1em 1.5em 0 1.5em;
        border-color: $border-color transparent transparent transparent;
      }
      &::after {
        position: absolute;
        bottom: 3px;
        border-width: 1em 1.5em 0 1.5em;
        border-color: white transparent transparent transparent;
      }
    }
    &[data-placement*="right"] {
      left: 0;
      margin-left: -1em;
      height: 3em;
      width: 1em;
      &::before {
        border-width: 1.5em 1em 1.5em 0;
        border-color: transparent $border-color transparent transparent;
      }
      &::after {
        position: absolute;
        left: 3px;
        top: 0px;
        border-width: 1.5em 1em 1.5em 0;
        border-color: transparent white transparent transparent;
      }
    }
    &[data-placement*="left"] {
      right: 0;
      margin-right: -1em;
      height: 3em;
      width: 1em;
      &::before {
        border-width: 1.5em 0 1.5em 1em;
        border-color: transparent transparent transparent $border-color;
      }
      &::after {
        position: absolute;
        right: 3px;
        top: 0px;
        border-width: 1.5em 0 1.5em 1em;
        border-color: transparent transparent transparent white;
      }
    }
    &::before,
    &::after {
      content: "";
      margin: auto;
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
}

.logo {
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background: $background-color;
}

.avatar {
  height: 33px;
  width: 33px;
  border-radius: 50%;
}
